# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.*

# Documentation
**/documentation/
**/docs/
**/*documentation*
problems_documentation.txt
pg.md

# Generated JS files (if applicable)
/js_files/

# Generated data.
/data